<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.rbac.mapper.AttendanceMapper">

    <insert id="insert">
        INSERT INTO attendance (class_id, status, start_time, end_time) VALUES (#{classId}, 0, #{startTime}, #{endTime})
    </insert>

    <update id="updateAtt" parameterType="int">
        UPDATE attendance_student
        SET status = 1
        WHERE attendance_id = #{attendanceId}
    </update>

    <select id="selectStudentIdsByClassId" parameterType="int" resultType="java.lang.Long">
        SELECT employee_id FROM class_student WHERE class_id = #{classId} ORDER BY class_id
    </select>

    <insert id="insertAttendanceStudents">
        INSERT INTO attendance_student (attendance_id, employee_id, status)
        VALUES
        <foreach collection="studentIds" item="studentId" separator=",">
            (#{attendanceId}, #{studentId}, 0)
        </foreach>
    </insert>

    <select id="selectByClId" parameterType="int" resultType="Integer">
        SELECT id FROM attendance WHERE class_id = #{classId} ORDER BY id DESC LIMIT 1
    </select>

    <select id="getAttendance" parameterType="int" resultType="cn.wolfcode.rbac.domain.Attendance">
        SELECT id, status,
               CONVERT_TZ(start_time, '+00:00', '+08:00') AS start_time,
               CONVERT_TZ(end_time, '+00:00', '+08:00') AS end_time
        FROM attendance
        WHERE class_id = #{classId}
    </select>

    <select id="getSignin" parameterType="int" resultType="cn.wolfcode.rbac.domain.vo.Signin">
        SELECT attendance_id, employee_id, name, status
        FROM attendance_student
        JOIN employee ON employee_id = id
        WHERE attendance_id = #{attendanceId}
    </select>

    <select id="listforstudent" parameterType="Long" resultType="cn.wolfcode.rbac.domain.vo.StudentSignIn">
        SELECT
            a.id,
            co.course_name AS courseName,
            e.name AS teacherName,
            a.status
        FROM
            class_student cs
                INNER JOIN
            class cl ON cs.class_id = cl.id
                INNER JOIN
            course co ON cl.course_id = co.id
                INNER JOIN
            employee e ON cl.teacher_id = e.id
                INNER JOIN
            attendance a ON cl.id = a.class_id
        WHERE
            cs.employee_id = #{employeeId}
    </select>

</mapper>